
{% load cms_tags staticfiles%}

		<!--=== Footer Version 1 ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- About -->
						<div class="col-md-3">
							<div class="headline"><h2>BRIGHT TOURS</h2></div>
							<ul class="list-unstyled who margin-bottom-30">
								<li><i class="fa fa-home"></i><font color="white">Pijacna br. 8, Sarajevo 71000, Bosnia and Herzegovina</font></li>
								<li><i class="fa fa-envelope"></i><font color="white">info@bright.tours</font></li>
								<li><i class="fa fa-phone"></i><font color="white">+387-33-123 456</font></li>
								<li><i class="fa fa-globe"></i><font color="white">http://www.brighttravel.tours</font></li>
								<li><font color="white">Viber / Whatsapp / Kakao / Line:</font></li>
								<li><i class="fa fa-mobile"></i><font color="white">+387-61-089517</font></li>
								<li><a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
												<i class="fa fa-facebook"></i></a>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
												<i class="fa fa-linkedin"></i></a>
									<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
												<i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="/"><img id="logo-footer"  src="{% static "img/bt_logo.jpg"%}"  height="80" width="200"  alt=""></a>

								</li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End About -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>ALTERNATİF TURLAR</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/alternatives">Rafting</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Kayak</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">At Binicilik</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Buz Pateni</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/alternatives">Daha Fazlası ...</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>BOSNA TURLARI</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/bosnia-tours">Saraybosna</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours">Saraybosna-Mostar</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours">Saraybosna-Mostar-Travnik</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours">Saraybosna-Mostar-Travnik-Vişegrad</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/bosnia-tours">Saraybosna-Mostar-Travnik-Jajce-Vişegrad</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->

						<!-- Link List -->
						<div class="col-md-3 md-margin-bottom-40">
							<div class="headline"><h2>BALKAN TURLARI</h2></div>
							<ul class="list-unstyled link-list">
								<li><a href="/balkan-tours">BOSNA HERSEK-SIRBİSTAN</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours">BOSNA HERSEK-KARADAĞ</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours">BOSNA HERSEK-KARADAĞ-KOSOVA-MAKEDONYA</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours">BOSNA HERSEK-KARADAĞ-ARNAVUTLUK</a><i class="fa fa-angle-right"></i></li>
								<li><a href="/balkan-tours">HIRVATİSTAN-KARADAĞ</a><i class="fa fa-angle-right"></i></li>
							</ul>
						</div><!--/col-md-3-->
						<!-- End Link List -->
					</div>
				</div>
			</div><!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2017 &copy; All Rights Reserved.
								<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
							</p>
						</div>
					</div>
				</div>
			</div><!--/copyright-->
		</div>
		<!--=== End Footer Version 1 ===-->