{% extends "baseen2.html" %}
{% load cms_tags staticfiles%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main class="wrapper">
	<!--=== Header ===-->
	<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#body">

					<img src="{% static "img/btlogo.png"%}" height="40" width="20" alt="BRIGHT TOURS">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav">
						<li class="page-scroll">
							<a href="/bosnia-tours"><span data-hover="BOSNA TURLARI">BOSNA TURLARI</span></a>
						</li>
						<li class="page-scroll">
							<a href="/balkan-tours"><span data-hover="BALKAN TURLARI">BALKAN TURLARI</span></a>
						</li>
						<li class="page-scroll">
							<a href="/alternatives"><span data-hover="ALTERNATIF TURLAR">ALTERNATİF TURLAR</span></a>
						</li>
						<li class="page-scroll">
							<a href="/cities"><span data-hover="ŞEHİRLER">ŞEHİRLER</span></a>
						</li>
						<li class="page-scroll">
							<a href="/rentacar"><span data-hover="ARAÇ KİRALAMA">ARAÇ KİRALAMA</span></a>
						</li>
						<li class="page-scroll">
							<a href="/contact"><span data-hover="İLETİŞİM">İLETİŞİM</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Promo Section -->
	<div class="promo-section master-slider ms-promo-1" id="masterslider-promo">

		<!-- Slide 1 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/sarajevosebil3.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK TURLARI
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Karlovy Vary, Czech</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/sarajevosebil3.jpg"%}" alt="ALT">
		</div>
		<!-- End Slide 1 -->

		<!-- Slide 2 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/kotor.jpg"%}" alt="ALT"/>
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK - KARADAĞ
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to London, Great Britain</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/kotor.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 2 -->

		<!-- Slide 3 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/serbia.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK - SIRBİSTAN
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="10" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Crete, Greece</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/serbia.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 3 -->

		<!-- Slide 4 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/kosova.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" line-height="50px" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK - KOSOVA - MAKEDONYA
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Langkawi, Malaysia</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/kosova.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 4 -->

		<!-- Slide 5 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/kotor.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK - KARADAĞ - ARNAVUTLUK
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/bosnia-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Bavaria, Germany</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/kotor.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 5 -->

		<!-- Slide 6 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/croatia.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				BOSNA HERSEK - HIRVATİSTAN - KARADAĞ
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/eu-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Paris, France</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/croatia.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 6 -->

		<!-- Slide 7 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/promo/mostar.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				<strong>€50.00</strong>'den itibaren
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				SARAYBOSNA - MOSTAR
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Unutamayacağınız bir tatil</p>
				<p><a href="/eu-tours" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar<span class="visible-3xs"> to Paris, France</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/promo/thumbs/mostar.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 7 -->
	</div>
	<!-- End Promo Section -->

	<!-- Search Tours Section -->
	<!--
	<div class="search-tours g-heading-v8">
		<div class="container">
			<div class="row">
				<div class="col-md-3 search-tours-title-wrapper">
					<div class="container">
						<h2>Tur<br>Bilgileri</h2>
					</div>
				</div>
				<div class="col-md-9 search-tours-col-bg-default">
					<div class="container">
						<form action="#" class="sky-form clearfix">
							<div class="col col-3 g-pb-40">
								<button type="submit" class="btn-u btn-u-lg btn-u-upper">Bosna Turlari</button>
							</div>
							<div class="col col-3 g-pb-40">
								<button type="submit" class="btn-u btn-u-lg btn-u-upper">Balkan Turlari</button>
							</div>
							<div class="col col-3 g-pb-40">
								<button type="submit" class="btn-u btn-u-lg btn-u-upper">Alternatif Turlar</button>
							</div>
							<div class="col col-3 g-pb-40">
								<button type="submit" class="btn-u btn-u-lg btn-u-upper">Araç Kiralama</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- End Search Tours Section -->

	<!-- Bosnia Tours Section -->
	<!--
	<div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100" id="Our-Tours">
		<div class="container-fluid">
			<h2 class="h2"> <strong>Bosna Hersek</strong> turları</h2>
			<div class="our-tours-list-wrapper">
				<div class="our-tours-list text-left">

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/sarajevosebil3.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/mostarbridge2.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Mostar</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/travnik.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Travnik</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/visegrad.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Vişegrad</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/jajce.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Jajce</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>

					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/thumbs/srebrenica.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Srebrenitsa</h3>
						<div class="our-tours-price">€350.00</div>
						<a href="/bosnia-tours" class="our-tours-list-item__more">More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- End Bosnia Tours Section -->

	<!-- Bosna Tours 2 Section -->
	<div class="popular-tours text-center g-heading-v8 g-pt-40 g-pb-20" id="Popular-Tours">
		<div class="container">
			<h2 class="h2"> <strong>Bosna Hersek</strong> turları</h2>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="g-mb-40">Bosna Hersekte geçireceğiniz tatilinizi turlarımızdan birine katılarak daha eğlenceli bir hale dönüştürebilirsiniz.</p>
				</div>
			</div>

			<div class="row text-left">

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/sarajevosebil3.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€320.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna</h3>
								<p>1 gün 2 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/travnik.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€320.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar </h3>
								<p>2 gün 3 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/travnik.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€320.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Travnik</h3>
								<p>3 gün 4 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/travnik.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€320.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Travnik - Vişegrad</h3>
								<p>3 gün 4 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/jajce.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€760.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Mostar - Travnik - Jajce - Vişegrad</h3>
								<p>4 gün 5 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/bosniatours/middlesize/jajce.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price"><strong>€760.00</strong>'den itibaren</div>
							<div class="popular-tours-item-info-inner">
								<h3>Saraybosna - Srebrenitsa - Vişegrad</h3>
								<p>2 gün 3 gece</p>
							</div>
						</div>
						<a href="/bosnia-tours" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->
			</div>
		</div>
	</div>
	<!-- End Bosnia Tours2 Section -->

	<!-- Balkan Tours Section -->
	<div class="special-purposes text-center g-heading-v8  g-pb-20" id="Purposes">
		<div class="container">
			<div class="row g-mb-20">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2"><strong>Balkan</strong> Turları</h2>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<p class="g-mb-40">Balkanlarda geçireceğiniz tatilinizi turlarımızdan birine katılarak daha eğlenceli bir hale dönüştürebilirsiniz.</p>
						</div>
					</div>
						</div>
					</div>
			<div class="row">
				<!-- Col 1 -->
				<div class="col-md-6">
					<div class="special-purposes-item special-purposes-item--big g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkantours/thumbs/kosova2.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<h3><em></em> Bosna Hersek - Karadağ - Kosova - Makedonya</h3>
							<p>3 gun 4 gece</p>
							<div class="special-purposes-item-info-price"><strong>€400.00</strong></div>
						</div>
						<a href="/balkan-tours" class="special-purposes-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Col 1 -->

				<!-- Col 2 -->
				<div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkantours/thumbs/serbia.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Bosna Hersek - Sırbistan</h3>
								<div class="special-purposes-item-info-price"><strong>€350.00</strong></div>
							</div>
						</div>
						<a href="/balkan-tours" class="special-purposes-item__more">Ayrıntılar</a>
					</div>

					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkantours/thumbs/croatia1.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Hırvatistan - Karadağ</h3>
								<div class="special-purposes-item-info-price"><strong>€800.00</strong></div>
							</div>
						</div>
						<a href="/balkan-tours" class="special-purposes-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Col 2 -->

				<!-- Col 3 -->
				<div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkantours/thumbs/albania.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Bosna Hersek - Karadağ - Arnavutluk</h3>
								<div class="special-purposes-item-info-price"><strong>€600.00</strong></div>
							</div>
						</div>
						<a href="/balkan-tours" class="special-purposes-item__more">Ayrıntılar</a>
					</div>

					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/balkantours/thumbs/kotor.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em>Bosna Hersek - Karadağ</h3>
								<div class="special-purposes-item-info-price"><strong>€650.00</strong></div>
							</div>
						</div>
						<a href="/balkan-tours" class="special-purposes-item__more">Ayrıntılar</a>
					</div>
				</div>
				<!-- End Col 3 -->
			</div>
		</div>
	</div>
	<!-- End Balkan Tours Section -->

	<!-- Alternatives -->
	<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="Services">
		<div class="container-fluid">
			<div class="row">
				<!-- Service Info -->
				<div class="col-md-3 our-service-info equal-height-column">
					<h2 class="h2"><br> <strong>Alternatif</strong> Turlar</h2>
					<p>Ailenizle güzel vakit geçirebileceğiniz aktiviteler.</p>
				</div>
				<!-- End Service Info -->

				<div class="col-md-9 our-services-list-wrapper">
					<div class="our-services-list">
						<!-- Item 1 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/kayak.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Kayak</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 1 -->

						<!-- Item 2 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/atbinicilik.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Ata Binme</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 2 -->

						<!-- Item 3 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/piramit.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Bosna Piramidleri</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 3 -->

						<!-- Item 4 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/rafting.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Rafting</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 4 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/yamacparasutu.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Dil Kursları</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 6 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/alternatives/thumbs/titonunsiginagi.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Tito'nun Sığınağı</h3>
							<a href="/alternatives" class="btn-u btn-u-lg btn-u-red btn-u-upper">Ayrıntılar</a>
						</div>
						<!-- End Item 6 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Alternatives -->
	<hr>
	<!-- Contact Section -->
	<div class="contact-section text-center g-heading-v8" id="Contact">
		<div class="container-fluid">
			<div class="row">
				<!-- Map -->
				<div class="col-md-4 contact-section-col">
					<div id="map" class=" contact-section-map"></div>
				</div>
				<!-- End Map -->

				<!-- Contacts -->
				<div class="col-md-4 col-sm-6 contact-section-col contact-section-content g-bg-default-color">
					<h2 class="h2"><em class="block-name">İletişim</em><br> <strong>Bize</strong> Ulaşın</h2>
					<p class="contact-section-info">Bize e-mail yada telefonla ulaşabilirsiniz. </p>

					<ul class="list-unstyled address">
						<li>email: <strong><a href="mailto:info@brighttravel.tours">info@brighttravel.tours</a></strong></li>
						<li>tel: <strong>+387 33 2566 112</strong></li>
						<li>adres: <strong>Pijacna 8, Sarajevo, Bosnia and Herzegovina</strong></li>
					</ul>

					<ul class="g-social-icons-v2 margin-bottom-30">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- End Contacts -->

				<!-- Ask Block -->
				<div class="col-md-4 col-sm-6 contact-section-col contact-section-content">
					<h3 class="h3"><strong>Sorunuz </strong> varsa</h3>
					<form action="#" class="sky-form" method="post" id="sky-form3">
						<fieldset>
							<label class="input g-mb-10">
								<input type="text" placeholder="İsminiz" name="name" id="name">
							</label>
							<label class="input g-mb-10">
								<input type="text" placeholder="Telefon numaranız" name="phone" id="phone">
							</label>
							<label class="input g-mb-10">
								<input type="text" placeholder="Konu" name="subject" id="subject">
							</label>
							<label class="textarea textarea-expandable g-mb-40">
								<textarea rows="3" placeholder="Mesaj" name="message" id="message"></textarea>
							</label>
							<button class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Gönder</button>
						</fieldset>

						<!-- Success Message -->
				        <div class="message">
				            <i class="rounded-x fa fa-check"></i>
				            <p>Your message was successfully sent!</p>
				        </div>
					</form>
				</div>
				<!-- End Ask Block -->
			</div>
		</div>
	</div>
	<!-- End Contact Section -->

	<!-- Footer Section -->
	<div class="footer g-pt-40 g-pb-40">
		<div class="container">
			<div class="g-display-table">
				<div class="g-display-td g-text-middle page-scroll"><a href="#body" class="footer-logo"><img src="{% static "img/logo-dark.png"%}" alt="ALT"></a></div>
				<div class="g-display-td g-text-middle text-right g-pt-10">&copy; 2016 All right reserved. Deelopment by <a href="http://htmlstream.com">HTML Stream</a></div>
			</div>
		</div>
	</div>
	<!-- End Footer Section -->
</main>

<!-- JS Global Compulsory -->
<script src="{% static "plugins/jquery/jquery.min.js"%}"></script>
<script src="{% static "plugins/jquery/jquery-migrate.min.js"%}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.min.js"%}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "plugins/smoothScroll.js"%}"></script>
<script src="{% static "plugins/jquery.easing.min.js"%}"></script>
<script src="{% static "plugins/owl-carousel2/owl.carousel.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"%}"></script>
<script src="{% static "plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
<script src="{% static "js/plugins/gmaps-ini.js"%}"></script>
<script src="{% static "plugins/master-slider/masterslider/masterslider.min.js"%}"></script>

<!-- JS Page Level -->
<script src="{% static "js/one.app.js"%}"></script>
<script src="{% static "js/plugins/owl-carousel2.js"%}"></script>
<script src="{% static "js/plugins/datepicker.js"%}"></script>
<script src="{% static "js/plugins/promo.js"%}"></script>
<script src="{% static "js/plugins/testimonials.js"%}"></script>
<script src="{% static "js/plugins/gallery.js"%}"></script>
<script src="{% static "js/forms/contact.js"%}"></script>

<script>
$(function() {
	App.init();
	OwlCarousel.initOwlCarousel();
	Datepicker.initDatepicker();
	ContactForm.initContactForm();
});
</script>

<!--[if lt IE 10]>
	<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}"></script>
<![endif]-->

{% endblock content %}
