{% extends "baseen2.html" %}
{% load cms_tags staticfiles%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<main class="wrapper">
	<!--=== Header ===-->
	<nav class="one-page-header navbar navbar-default navbar-fixed-top one-page-nav-scrolling one-page-nav__fixed" data-role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#body">

					<img src="{% static "img/btlogo.png"%}" height="40" width="20" alt="BRIGHT TOURS">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav">
						<li class="page-scroll">
							<a href="/bosnia-tours"><span data-hover="Bosnia Tours">Bosnia Tours</span></a>
						</li>
						<li class="page-scroll">
							<a href="/balkan-tours"><span data-hover="Balkan Tours">Balkan Tours</span></a>
						</li>
						<li class="page-scroll">
							<a href="/eu-tours"><span data-hover="Tours">Tours</span></a>
						</li>
						<li class="page-scroll">
							<a href="/alternative"><span data-hover="Alternatives">Alternatives</span></a>
						</li>
						<li class="page-scroll">
							<a href="/cities"><span data-hover="Cities">Cities</span></a>
						</li>
						<li class="page-scroll">
							<a href="/rentacar"><span data-hover="Rent A Car">Rent A Car</span></a>
						</li>
						<li class="page-scroll">
							<a href="/contact"><span data-hover="Contact">Contact</span></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!--=== End Header ===-->

	<!-- Promo Section -->
	<div class="promo-section master-slider ms-promo-1" id="masterslider-promo">

		<!-- Slide 1 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v12.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$150.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				SARAJEVO
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">We guarantee your comfort</p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Karlovy Vary, Czech</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/cities/v13.jpg"%}" alt="ALT">
		</div>
		<!-- End Slide 1 -->

		<!-- Slide 2 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v6.jpg"%}" alt="ALT"/>
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$550.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				MOSTAR
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Dream Trip, you will never forget it</p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to London, Great Britain</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/cities/v51.JPG"%}" alt="thumb">
		</div>
		<!-- End Slide 2 -->

		<!-- Slide 3 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v5.JPG"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$360.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				TRAVNIK
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="10" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Dont miss this opportunity </p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Crete, Greece</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/cities/v2.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 3 -->

		<!-- Slide 4 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v2.jpg"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$1300.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				JAJCE
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Visit the dream country</p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Langkawi, Malaysia</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/cities/v5.JPG"%}" alt="thumb">
		</div>
		<!-- End Slide 4 -->

		<!-- Slide 5 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v51.JPG"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$1300.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				VISEGRAD
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Dont miss this opportunity</p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Bavaria, Germany</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp/cities/v2.jpg"%}" alt="thumb">
		</div>
		<!-- End Slide 5 -->

		<!-- Slide 6 -->
		<div class="ms-slide">
			<img src="{% static "plugins/master-slider/masterslider/style/blank.gif"%}" data-src="{% static "img-temp/cities/v51.JPG"%}" alt="ALT">
			<div class="ms-layer ms-promo-travel-price hidden-xs" style="left: 15px; top: 182px; opacity: 1;" data-type="text" data-delay="10" data-effect="skewleft(50,340)" data-ease="easeOutExpo" data-duration="2200">
				Only From <strong>$610.00</strong>
			</div>
			<h3 class="ms-layer ms-promo-travel-place hidden-3xs" style="left: 11px; top: 256px;" data-type="text" data-delay="10" data-effect="skewright(50,340)" data-ease="easeOutExpo" data-duration="2200">
				TRAVNIK
			</h3>
			<div class="ms-layer ms-promo-travel-description" style="left: 15px; top: 324px;" data-type="text" data-delay="30" data-effect="rotate3dbottom(100,0,0,70)" data-ease="easeOutExpo" data-duration="2300">
				<p class="g-mb-20 hidden-sm hidden-xs">Sarajevo is the place where cultures meet</p>
				<p><a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Take a tour<span class="visible-3xs"> to Paris, France</span></a></p>
			</div>
			<img class="ms-thumb" src="{% static "img-temp//cities/v51.JPG"%}" alt="thumb">
		</div>
		<!-- End Slide 6 -->

	</div>
	<!-- End Promo Section -->

	<!-- Search Tours Section -->
	<div class="search-tours g-heading-v8">
		<div class="container">
			<div class="row">
				<div class="col-md-3 search-tours-title-wrapper">
					<div class="container">
						<h2><em class="block-name">Book Information</em><br> Tour's search</h2>
					</div>
				</div>
				<div class="col-md-9 search-tours-col-bg-default">
					<div class="container">
						<form action="#" class="sky-form clearfix">
							<div class="col col-3">
								<label class="label">Destination</label>
								<label class="select">
									<select>
										<option value="0" selected>Reservation date</option>
										<option value="1">Department 1</option>
										<option value="2">Department 2</option>
										<option value="3">Department 3</option>
										<option value="4">Department 4</option>
									</select>
									<i></i>
								</label>
							</div>

							<div class="col col-3">
								<label class="label">Date</label>
								<label class="input">
									<span class="icon-append fa fa-calendar"></span>
									<input type="text" name="start" id="start" placeholder="DD/MM/YYY">
								</label>
							</div>

							<div class="col col-3">
								<label class="label">Persons</label>
								<label class="input">
									<span class="icon-append fa fa-users"></span>
									<input type="text" placeholder="Number of persons">
								</label>
							</div>

							<div class="col col-3">
								<button type="submit" class="btn-u btn-u-lg btn-u-upper">Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Search Tours Section -->

	<!-- Bosnia Tours Section -->
	<div class="our-tours text-center g-heading-v8 g-pt-85 g-pb-100" id="Our-Tours">
		<div class="container-fluid">
			<h2 class="h2"><em class="block-name">Bosnia Tours</em><br> <strong>We can</strong> offer</h2>
			<div class="our-tours-list-wrapper">
				<div class="our-tours-list text-left">
					<!-- Item 1 -->
					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/offers/img1.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo - Mostar<br><br><br></h3>
						<ul class="list-inline star-vote">
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star-half-o"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
						</ul>
						<p>1 Day - 2 Nights</p>
						<div class="our-tours-price">$350.00</div>
						<a href="#" class="our-tours-list-item__more">More</a>
					</div>
					<!-- End Item 1 -->

					<!-- Item 2 -->
					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/offers/img2.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo - Mostar - Travnik<br><br></h3>
						<ul class="list-inline star-vote">
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
						</ul>
						<p>2 Days - 3 Nights</p>
						<div class="our-tours-price">$350.00</div>
						<a href="#" class="our-tours-list-item__more">More</a>
					</div>
					<!-- End Item 2 -->

					<!-- Item 3 -->
					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/offers/img3.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo - Mostar - Travnik - Visegrad<br><br></h3>
						<ul class="list-inline star-vote">
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
						</ul>
						<p>3 Days - 4 Nights</p>
						<div class="our-tours-price">$350.00</div>
						<a href="#" class="our-tours-list-item__more">More</a>
					</div>
					<!-- End Item 3 -->

					<!-- Item 4 -->
					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/offers/img4.jpg"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo - Mostar - Travnik - Jajce - Visegrad</h3>
						<ul class="list-inline star-vote">
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star-half-o"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
						</ul>
						<p>4 Days - 5 Nights</p>
						<div class="our-tours-price">$350.00</div>
						<a href="#" class="our-tours-list-item__more">More</a>
					</div>
					<!-- End Item 4 -->

					<!-- Item 5 -->
					<div class="our-tours-list-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/offers/img5.JPG"%}" alt="ALT" class="img-reposnsive"></div>
						<h3>Sarajevo<br><br><br></h3>
						<ul class="list-inline star-vote">
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star"></i></li>
							<li><i class="g-color-default fa fa-star-o"></i></li>
						</ul>
						<p>1 Day - 1 Night</p>
						<div class="our-tours-price">$350.00</div>
						<a href="#" class="our-tours-list-item__more">More</a>
					</div>
					<!-- End Item 5 -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Bosnia Tours Section -->

	<!-- Balkan Tours Section -->
	<div class="special-purposes text-center g-heading-v8 g-pt-85 g-pb-70" id="Purposes">
		<div class="container">
			<div class="row g-mb-70">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2"><em class="block-name">Balkan Tours</em><br> <strong>Don't miss</strong> this</h2>
					<div>Trip you will always remember.</div>
				</div>
			</div>
			<div class="row">
				<!-- Col 1 -->
				<div class="col-md-6">
					<div class="special-purposes-item special-purposes-item--big g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/special/photo-1420655710207-b092e1b8abe3.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<h3><em></em> Bosnia - Montenegro</h3>
							<p>2 persons, 4 days, 5 nights, 4 stars hotel</p>
							<div class="special-purposes-item-info-price">only <strong>$400.00</strong></div>
						</div>
						<a href="#" class="special-purposes-item__more">More</a>
					</div>
				</div>
				<!-- End Col 1 -->

				<!-- Col 2 -->
				<div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/special/greece-2.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Bosnia - Serbia</h3>
								<div class="special-purposes-item-info-price"><strong>$350.00</strong></div>
							</div>
						</div>
						<a href="#" class="special-purposes-item__more">More</a>
					</div>

					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/special/photo-1431274172761-fca41d930114.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em>Bosnia - Montenegro - Kosova - Macodonia</h3>
								<div class="special-purposes-item-info-price"><strong>$650.00</strong></div>
							</div>
						</div>
						<a href="#" class="special-purposes-item__more">More</a>
					</div>
				</div>
				<!-- End Col 2 -->

				<!-- Col 3 -->
				<div class="col-md-3 col-sm-6 col-xs-6 col-2xs-12">
					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/special/picjumbo.com_HNCK8182.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Bosnia - Montenegro - Albania</h3>
								<div class="special-purposes-item-info-price"><strong>$600.00</strong></div>
							</div>
						</div>
						<a href="#" class="special-purposes-item__more">More</a>
					</div>

					<div class="special-purposes-item g-mb-30">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/special/picjumbo.com_HNCK8248.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="special-purposes-item-info">
							<div class="special-purposes-item-info-inner">
								<h3><em></em> Croatia - Montenegro</h3>
								<div class="special-purposes-item-info-price"><strong>$800.00</strong></div>
							</div>
						</div>
						<a href="#" class="special-purposes-item__more">More</a>
					</div>
				</div>
				<!-- End Col 3 -->
			</div>
		</div>
	</div>
	<!-- End Balkan Tours Section -->

	<!-- Tours Section -->
	<div class="popular-tours text-center g-heading-v8 g-pt-85 g-pb-70" id="Popular-Tours">
		<div class="container">
			<h2 class="h2"><em class="block-name">Balkan Tours</em><br> <strong>Something</strong> interesting</h2>
			<!--
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="g-mb-70">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</p>
				</div>
			</div>
			-->
			<div class="row text-left">
				<!-- Item 1 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/picjumbo.com_IMG_6358.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$780.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Great Culture</em> TURKEY</h3>
								<p>1 person, 4 days, 3 nights, 3 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 1 -->

				<!-- Item 2 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/picjumbo.com_HNCK8182.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$2350.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Great Trip</em>ENGLAND</h3>
								<p>2 persons, 7 days, 7 nights, 5 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 2 -->

				<!-- Item 3 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/picjumbo.com_vranov-czech-republic.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$4320.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Great History</em> SPAIN</h3>
								<p>2 persons, 14 days, 15 nights, 5 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 3 -->

				<!-- Item 4 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/picjumbo.com_HNCK8242.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$760.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Great Spagetti</em>ITALY</h3>
								<p>2 persons, 4 days, 5 nights, 5 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 4 -->

				<!-- Item 5 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/picjumbo.com_HNCK4183.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$2440.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Neighbor Country</em>CROATIA</h3>
								<p>2 persons, 4 days, 5 nights, 4 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 5 -->

				<!-- Item 6 -->
				<div class="col-md-4 col-xs-6 col-2xs-12 g-mb-30">
					<div class="popular-tours-item">
						<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/interesting/photo-1422226256160-9b266e308ea6.jpg"%}" alt="ALT" class="img-responsive"></div>
						<div class="popular-tours-item-info">
							<div class="popular-tours-item-info-price">From <strong>$2530.00</strong></div>
							<div class="popular-tours-item-info-inner">
								<h3><em>Great Beaches</em> MONTENEGRO</h3>
								<p>2 persons, 4 days, 5 nights, 4 stars hotel</p>
							</div>
						</div>
						<a href="#" class="popular-tours-item__more">More</a>
					</div>
				</div>
				<!-- End Item 6 -->
			</div>
		</div>
	</div>
	<!-- End Tours Section -->

	<!-- Discount Section -->
	<!--
	<div class="get-discount text-center g-heading-v8" id="Subscribe">
		<div class="container">
			<h2><strong>Get 10%</strong> discount</h2>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<p class="g-mb-65">Donec eleifend mauris eu leo varius consectetur. Aliquam luctus a lorem ac rutrum. Cras in nulla id mi ornare vestibulum. Donec et magna nulla. Pellentesque ut ipsum id nibh pretium blandit quis ac erat.</p>
					<form action="#" class="sky-form">
						<div class="row">
							<div class="col-sm-6 g-mb-20">
								<label class="input">
									<input type="text" placeholder="Your name">
								</label>
							</div>
							<div class="col-sm-6 g-mb-20">
								<label class="input">
									<input type="text" placeholder="Your email">
								</label>
							</div>
						</div>
						<button class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Send Message</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	-->
	<!-- End Discount Section -->

	<!-- Alternatives -->
	<div class="our-service-section text-center g-heading-v8 equal-height-columns" id="Services">
		<div class="container-fluid">
			<div class="row">
				<!-- Service Info -->
				<div class="col-md-3 our-service-info equal-height-column">
					<h2 class="h2"><em class="block-name">Alternatives</em><br> <strong>What we</strong> Propose</h2>
					<p>You can make your stay more enjoyable.</p>
				</div>
				<!-- End Service Info -->

				<div class="col-md-9 our-services-list-wrapper">
					<div class="our-services-list">
						<!-- Item 1 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/picjumbo.com_HNCK4183.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Skiing</h3>
							<p>Bosnia and Herzegovina has great ski resorts<p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 1 -->

						<!-- Item 2 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/img1.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Horseback Riding</h3>
							<p>Enjoy horses with your family.</p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 2 -->

						<!-- Item 3 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/img2.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Bosnian Pyramids</h3>
							<p>Recently discovered pyramids</p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 3 -->

						<!-- Item 4 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/img3.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Rafting</h3>
							<p>Enjoy Rafting</p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 4 -->

						<!-- Item 5 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/picjumbo.com_vranov-czech-republic.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Aliquam dapibus quis sapien id pharetra</h3>
							<p>In finibus vehicula lorem, in tempor diam convallis non. Curabitur vel risus vitae urna auctor aliquam.</p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 5 -->

						<!-- Item 6 -->
						<div class="our-services-list-item equal-height-column">
							<div class="img-wrapper img-wrapper--shadow"><img src="{% static "img-temp/services/picjumbo.com_vranov-czech-republic.jpg"%}" alt="ALT" class="img-reposnsive"></div>
							<h3>Language Courses</h3>
							<p>Learn new languages.</p>
							<a href="#" class="btn-u btn-u-lg btn-u-red btn-u-upper">Learn more</a>
						</div>
						<!-- End Item 6 -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Alternatives -->

	<!-- Gallery -->
	<!--
	<div class="gallery text-center g-heading-v8 g-pt-80" id="Gallery">
		<!-- Gallery Info -->
		<!--
	    <div class="container">
			<div class="row g-mb-70">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="h2"><em class="block-name">Our Gallery</em><br> <strong>Interesting</strong> shots</h2>
					<div>Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante. Nunc ullamcorper, justo a iaculis elementum, enim orci viverra eros, fringilla porttitor lorem eros vel odio.</div>
				</div>
			</div>
		</div>
		<!-- End Gallery Info -->

		<!-- Gallery: Photos -->
		<!--
		<div id="js-grid-full-width" class="cbp">
			<!-- Item 1
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v12.jpg"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v12.jpg"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 1 -->

			<!-- Item 2
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v6.jpg"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v6.jpg"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 2 -->

			<!-- Item 3
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v5.JPG"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v5.JPG"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 3 -->

			<!-- Item 4
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v2.jpg"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v2.jpg"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 4 -->

			<!-- Item 5
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v2.jpg"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/gallery/photo-1417551047620-471daaad5a65.jpg"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 5 -->

			<!-- Item 6
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v12.jpg"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v12.jpg"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 6 -->

			<!-- Item 7
			<div class="cbp-item">
				<a href="{% static "img-temp/cities/v51.JPG"%}" class="cbp-caption cbp-lightbox" data-title="Sed feugiat porttitor nunc<br>by Vivamus">
					<div class="cbp-caption-defaultWrap img-wrapper--shadow">
						<img src="{% static "img-temp/cities/v51.JPG"%}" alt="ALT">
					</div>
				</a>
			</div>
			<!-- End Item 7 -->
		</div>
		<!-- End Gallery: Photos -->
		<div id="js-loadMore-full-width" class="cbp-l-loadMore-text"><br></div>
	</div>

	<!-- End Gallery -->

	<!-- Contact Section -->
	<div class="contact-section text-center g-heading-v8" id="Contact">
		<div class="container-fluid">
			<div class="row">
				<!-- Map -->
				<div class="col-md-4 contact-section-col">
					<div id="map" class=" contact-section-map"></div>
				</div>
				<!-- End Map -->

				<!-- Contacts -->
				<div class="col-md-4 col-sm-6 contact-section-col contact-section-content g-bg-default-color">
					<h2 class="h2"><em class="block-name">Contact Us</em><br> <strong>Get In</strong> Touch</h2>
					<p class="contact-section-info">If you have any question, don't hesitate to contact to us. We will return back to you as soon as possible </p>

					<ul class="list-unstyled address">
						<li>email: <strong><a href="mailto:info@brighttravel.tours">info@brighttravel.tours</a></strong></li>
						<li>phone number: <strong>+387 33 2566 112</strong></li>
						<li>address: <strong>Pijacna 8,http://localhost:8000/en/#body Sarajevo, Bosnia and Herzegovina</strong></li>
					</ul>

					<ul class="g-social-icons-v2 margin-bottom-30">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- End Contacts -->

				<!-- Ask Block -->
				<div class="col-md-4 col-sm-6 contact-section-col contact-section-content">
					<h3 class="h3"><strong>Have A </strong> Questions?</h3>
					<form action="#" class="sky-form" method="post" id="sky-form3">
						<fieldset>
							<label class="input g-mb-10">
								<input type="text" placeholder="Your name" name="name" id="name">
							</label>
							<label class="input g-mb-10">
								<input type="text" placeholder="Your phone" name="phone" id="phone">
							</label>
							<label class="input g-mb-10">
								<input type="text" placeholder="Subject" name="subject" id="subject">
							</label>
							<label class="textarea textarea-expandable g-mb-40">
								<textarea rows="3" placeholder="Message" name="message" id="message"></textarea>
							</label>
							<button class="btn-u btn-u-lg btn-u-red btn-u-upper" type="submit">Send Message</button>
						</fieldset>

						<!-- Success Message -->
				        <div class="message">
				            <i class="rounded-x fa fa-check"></i>
				            <p>Your message was successfully sent!</p>
				        </div>
					</form>
				</div>
				<!-- End Ask Block -->
			</div>
		</div>
	</div>
	<!-- End Contact Section -->

	<!-- Footer Section -->
	<div class="footer g-pt-40 g-pb-40">
		<div class="container">
			<div class="g-display-table">
				<div class="g-display-td g-text-middle page-scroll"><a href="#body" class="footer-logo"><img src="{% static "img/logo-dark.png"%}" alt="ALT"></a></div>
				<div class="g-display-td g-text-middle text-right g-pt-10">&copy; 2016 All right reserved. Deelopment by <a href="http://htmlstream.com">HTML Stream</a></div>
			</div>
		</div>
	</div>
	<!-- End Footer Section -->
</main>

<!-- JS Global Compulsory -->
<script src="{% static "plugins/jquery/jquery.min.js"%}"></script>
<script src="{% static "plugins/jquery/jquery-migrate.min.js"%}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.min.js"%}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static "plugins/smoothScroll.js"%}"></script>
<script src="{% static "plugins/jquery.easing.min.js"%}"></script>
<script src="{% static "plugins/owl-carousel2/owl.carousel.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"%}"></script>
<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"%}"></script>
<script src="{% static "plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script>
<script src="{% static "js/plugins/gmaps-ini.js"%}"></script>
<script src="{% static "plugins/master-slider/masterslider/masterslider.min.js"%}"></script>

<!-- JS Page Level -->
<script src="{% static "js/one.app.js"%}"></script>
<script src="{% static "js/plugins/owl-carousel2.js"%}"></script>
<script src="{% static "js/plugins/datepicker.js"%}"></script>
<script src="{% static "js/plugins/promo.js"%}"></script>
<script src="{% static "js/plugins/testimonials.js"%}"></script>
<script src="{% static "js/plugins/gallery.js"%}"></script>
<script src="{% static "js/forms/contact.js"%}"></script>

<script>
$(function() {
	App.init();
	OwlCarousel.initOwlCarousel();
	Datepicker.initDatepicker();
	ContactForm.initContactForm();
});
</script>

<!--[if lt IE 10]>
	<script src="{% static "plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"%}"></script>
<![endif]-->

{% endblock content %}
