
{% load cms_tags staticfiles%}

				<!-- Right Sidebar -->
				<div class="col-md-3">

					<!-- Activities -->
					<div class="posts margin-bottom-40">
						<div class="headline headline-md"><h2>Alternatif Turlar</h2></div>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/atbinicilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>At Binicilik</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/balikcilik.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Balıkçılık</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/buzpateni.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Buz Pateni</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/cave.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Mağara Gezileri</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/dagoteli.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Dağ Oteli</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/esekciftligi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Eşek Çifliği</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/kamping.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Kamp</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/kaplica.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Termal Tesisler</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/kayak.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Kayak</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/piramit.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Piramitler</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/rafting.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Rafting</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/soskoyu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>SOS Köyü</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/titonunsiginagi.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Tito'nun Sığınağı</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/treking.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Treking</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="/alternatives"><img src="{% static "img-temp/alternatives/thumbs/yamacparasutu.jpg"%}" alt="" /></a></dt>
							<dd>
								<p><a href="/alternatives"><b>Yamaç Paraşütü</b><br>Kişi başı 20€</a></p>
							</dd>
						</dl>
					</div>
					<!-- End Activities -->
				</div>
				<!-- End Right Sidebar -->