{% load cms_tags staticfiles%}
			<div class="row margin-bottom-20" style="text-align:right;vertical-align:top;">
				<div class="fb-like" data-href="http://www.bright.com" data-layout="button" data-action="like" data-show-faces="true" data-share="false" style="line-height:10px;vertical-align:top;zoom:1;*display:inline"></div>
				&nbsp
				<a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-size="small" data-show-screen-name="false" data-show-count="false"style="line-height:10px;vertical-align:top;zoom:1;*display:inline">Follow @TwitterDev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>